.header {
  margin-bottom: 20px;
}

.has-tooltip {
  position: relative;
  display: inline-block;
  color: #000;
  background: rgb(255, 255, 12);
}

.has-tooltip:hover {
  color: rgb(255, 81, 0);
}

.tooltip {
  position: absolute;
  display: none;
  background: rgb(0, 0, 0);

  text-align: center;
  padding: 5px;
  border-radius: 5px;
  color: #fff;

}

.tooltip_active {
  display: block;
  z-index: 2;
}
